.container{
  table{
    width: 70%;
    border: 1px solid white;
    border-collapse: collapse;
    thead{
      border: 1px solid white;
      td{
        border: 1px solid white;
      }
    }
    tr{
      border: 1px solid white;
      td{
        border: 1px solid white;
      }
    }
  }

}