.example-input-output-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  .arrow-area{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .example-input{
    @extend .input-output-style;

  }
  .example-output{
    @extend .input-output-style;
  }
}

// 내부에서 extend 할 요소 - 사용 : exam-input, exam-output

.input-output-style{
  display: flex;
  width: 40%;
  height: 10rem;
  padding : 1rem;
  border : 2px solid lightblue;
  border-radius: 5px;

  transition: 0.3s;

  &:focus{
    border : 2px solid darkblue;
  }
}